.ProfilePhoto {
  display: flex !important
}

.MediaViewerContent {
  display: flex !important
}

.media-inner video.full-media, .media-inner img.full-media, .media-inner img.thumbnail, .media-inner canvas.thumbnail {
  display: flex !important
}