:root {
    --border-radius-messages: 0.425rem !important;
    --color-chat-active: #2b5378 !important;
    --color-chat-hover: #202b36 !important;
    --color-text-meta-colored: #5288c1 !important;
    --color-background: #202b36 !important;
    --header-height: 4.5rem !important;
    --color-primary: #5288c1 !important;
    --color-accent-own: #5288c1 !important;
    --color-borders: #17212b !important;
}

.chat-list .ListItem.chat-item-clickable .Avatar {
    display: flex !important;
    padding: 4px !important;
    background-clip: content-box !important;
    background: none !important;
    width: 40px !important;
    position: relative !important;
}
.chat-list .ListItem.chat-item-clickable .Avatar.no-photo {
    color: var(--background-color) !important;
}

.chat-list .ListItem.chat-item-clickable .Avatar::after{
    content: "";
    display: block;
    position: absolute;
    bottom: 0.05rem;
    right: 0.05rem;
    width: 0.875rem;
    height: 0.875rem;
    border-radius: 50%;
    border: 2px solid var(--color-chat-active);
    background-color: gray;
    top: 50% !important;
    left: 50% !important;
    transform: translate(-50%, -50%) !important;
} 

.chat-list .ListItem.chat-item-clickable .Avatar.online::after{
    background-color: #0ac630 !important;
}

.chat-list .ListItem.chat-item-clickable.group .Avatar::after{
    background-image: url("https://www.svgrepo.com/show/152056/group.svg");
    background-size: contain !important;
    background-position: center !important;
    background-color: transparent !important;
    border: none !important;
    width: 20px;
    height: 20px;
}

.chat-list .ListItem.chat-item-clickable .Avatar img{
    display: none !important;
}

.Avatar img:not(.emoji) {
    display: block !important;
}

#MediaViewer .media-viewer-content>img {
    display: block !important;
}

.ProfilePhoto {
    display: block !important;
}

.MiddleHeader .Avatar {
    display: none !important;
}

.message-content.media .media-inner.interactive,
.WebPage .media-inner.interactive {
    display: flex !important;
}

.StickerPicker-main {
    display: block !important;
}

.message-content.custom-shape .media-inner .full-media {
    visibility: visible !important;
    content: unset !important;
}

.StickerSetModal .stickers {
    display: block !important;
}


/* Chat */
.chat-list {
    padding: 1px 0px !important;
    margin-right: -8px !important;
    --color-background: #17212b !important;
}

.ListItem.chat-item-clickable .ListItem-button {
    border-radius: 0px !important;
}

.VideoPlayer {
    display: block !important;
}

.messages-container {
    width: 100% !important;
    max-width: unset !important;
    padding: 16px 32px !important;
}

.middle-column-footer {
    width: 100% !important;
    max-width: unset !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.MessageList {
    margin-bottom: 0px !important;
}

.middle-column-footer>div {
    margin-bottom: 0px !important;
}

.middle-column-footer>div>button {
    display: none !important;
}

.middle-column-footer::before {
    content: none !important;
}

#message-compose {
    border-radius: 0px !important;
    max-width: 100% !important;
    background-color: #17212b !important;
}

.SymbolMenu .bubble.menu-container {
    border-radius: 4px !important;
    display: flex !important;
    flex-direction: column !important;
}

.SymbolMenu .opacity-transition:not(.shown) {
    display: none !important;
}

.Menu .bubble {
    --offset-x: 8px !important;
}

.AttachMenu .bubble.menu-container {
    border-radius: 4px !important;
}

.SymbolMenu-footer {
    order: 1;
    border-bottom: 1px solid var(--color-borders) !important;
}

.SymbolMenu-main {
    order: 2;
}

.EmojiPicker {
    display: flex !important;
    flex-direction: column !important;
}

.EmojiPicker-header {
    order: 2 !important;
    border-top: 1px solid var(--color-borders) !important;
    border-bottom: none !important;
}

.StickerPicker {
    display: flex !important;
    flex-direction: column !important;
}

.StickerPicker-header {
    order: 2 !important;
    border-top: 1px solid var(--color-borders) !important;
    border-bottom: none !important;
}

#middle-column-bg::before,
#middle-column-bg::after {
    background: url("https://cdn.ibluday.com/pattern-5.svg") !important;
    background-color: #0e1621 !important;
}

#MiddleColumn {
    border: none !important;
}

.Chat {
    --background-color: #17212b !important;
}

#LeftColumn {
    box-shadow: #131c24 0px 0px 1px 1px !important;
    z-index: 1004;
}

.SearchInput {
    border-radius: 6px !important;
}

.SearchInput>input {
    height: 36px !important;
}

.SearchInput>i {
    top: 50% !important;
    transform: translateY(-50%) !important;
}

.MiddleHeader {
    background: #17212b !important;
}

.TabList {
    background: #17212b !important;
}

#LeftMainHeader {
    background: #17212b !important;
}

.Message svg path {
    fill: #182533 !important;
}

.Message.own svg path {
    fill: #2b5378 !important;
}

.MessageOutgoingStatus i {
    background-color: transparent !important;
}

.Message {
    --background-color: #182533 !important;
}

.Message.own {
    --background-color: #2b5378 !important;
}

.HeaderPinnedMessage-wrapper {
    border-radius: 6px !important;
    padding: 4px !important;
}

.Composer.hover-disabled {
    display: none !important;
}

.connection-state-wrapper {
    position: fixed !important;
    bottom: 24px !important;
    top: unset !important;
    left: 24px !important;
    width: 48px !important;
    height: 48px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background-color: transparent !important;
    z-index: 10040 !important;
}

#ConnectionState {
    width: 100% !important;
    height: 100% !important;
    padding: 0px !important;
    border-radius: 6px !important;
    margin: 0px !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    background: var(--color-chat-active) !important;
    border-radius: 6px !important;
    box-shadow: 0px 0px 5px 0px #dadce045 !important;
}

.Spinner>div {
    background-image: var(--spinner-white-data) !important;
}

#ConnectionState .state-text {
    margin: 0px !important;
    display: none !important;
    margin-top: 18px !important;
    color: white !important;
}

#LeftColumn-main .pull-down {
    transform: none !important;
}

.composer-tooltip {
    width: calc(100% - 16px) !important;
    left: 8px !important;
    right: 8px !important;
}